#Ignooraa kaikki bof-loppuiset tiedostot
*.bof
*.bof~
*.bof#
*.txt
.gitignore
*.xlsx
*.swp
*.org
*.org~
*.org#
*.ses
*.ses#
*.ses~
*.py~
*.py#

#Älä ignorraa
!metadata.xlsx

#Ignooraa dashboards
/dashboards
/.DS_Store
/Testaus
